/* Base Styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

/* Main Container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

/* Quiz Container */
#quiz-container {
  width: 100%;
  max-width: 1200px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Question Container */
#question-container {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

#question-container:last-child {
  text-align: center;
}

/* Question Text */
.question {
  font-size: 1.125rem; /* 18px */
  margin-bottom: 10px;
  text-align: left;
}

/* Options */
.option {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: left;
}

.option input[type="checkbox"],
.option input[type="radio"] {
  margin-right: 10px;
}

.option.selected {
  background-color: lightcyan;
}

.option.correct {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.option.incorrect {
  background-color: #f9ac91;
  border-color: #f9ac91;
}

.option.hidden {
  display: none;
}

/* Button */
button {
  padding: 10px 20px;
  font-size: 1rem; /* 16px */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Result */
.result {
  font-size: 1.125rem; /* 18px */
  text-align: center !important;
  padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .question {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .option {
    font-size: 0.875rem; /* Adjust font size for smaller screens */
  }

  button {
    width: 100%; /* Full-width button on small screens */
  }
  body {
    height: auto;
  }
}

@media (max-width: 480px) {
  .option {
    font-size: 0.75rem; /* Further adjust font size */
    padding: 8px; /* Reduce padding */
  }

  .question {
    font-size: 0.875rem; /* Further adjust font size */
  }

  body {
    height: auto;
  }

  button {
    font-size: 0.875rem; /* Adjust font size */
    padding: 8px 16px; /* Adjust padding */
  }
}
